<div class="home">
  <div class="home_background" style="background: url(https://i.imgur.com/HCWU4MU.jpg); background-size: 100%;"></div>
  <div class="home_content">
    <div class="home_title">
      Order Summary
    </div>
  </div>
</div>

<%= render partial: "shared/flash" %>

<% unless !@order.status || @order.status == "pending" %>
<section class="order-ordersummary__container">
  <strong><h1>Order #<%= @order.id %></h1></strong>
  <p><%= @order.purchase_date.strftime("Purchased on %m/%d/%Y at %I:%M%p")  %></p>

  <div class="card-group">
    <div class="card card_orderdetails">
      <div class="card-body">
      <h3>Payment Details</h3>
        <ul class="list-unstyled">
          <li>Status: <%= @order.status.capitalize %></li>
          <li>Credit Card: XXXX-XXXX-XXXX-<%= @order.cc_number.to_s[-4..-1].to_i %></li>
          <li>Exp. Date: <%= @order.cc_exp.strftime("%m/%y") %></li>
        </ul>
      </div>
    </div>
    <div class="card card_orderdetails">
      <div class="card-body">
      <h3>Customer Details</h3>
        <ul class="list-unstyled">
          <li>Name: <%= @order.name %></li>
          <li>Email: <%= mail_to @order.email %></li>
          <li>Mailing Address: <%= @order.mailing_address %></li>
        </ul>
      </div>
    </div>
  </div>

  <h3>Products</h3>

  <table class="table_orderproducts table">
    <thead>
      <tr>
        <th>Image</th>
        <th>Title</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Subtotal</th>
      </tr>
    </thead>
    <tbody>
      <% @order.order_items.each do |item| %>
        <% if session[:merchant_id] && session[:merchant_id] == item.product.merchant.id %>
          <tr>
            <td><%= link_to image_tag(item.product.photo_url, height: "150", :alt => "product photo"), product_path(item.product) %></td>
            <td><%= link_to item.product.title, product_path(item.product) %></td>
            <td><%= number_to_currency(item.product.price) %></td>
            <td><%= item.quantity %></td>
            <td><%= number_to_currency(item.subtotal) %></td>
          </tr>
        <% else %>
          <tr>
            <td><%= link_to image_tag(item.product.photo_url, height: "150", :alt => "product photo"), product_path(item.product) %></td>
            <td><%= link_to item.product.title, product_path(item.product) %></td>
            <td><%= number_to_currency(item.product.price) %></td>
            <td><%= item.quantity %></td>
            <td><%= number_to_currency(item.subtotal) %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <h2 class="text-right">Total: <%= number_to_currency(@order.total) %></h5>
</section>
<% end %>