<div class="clear" style="background: url(https://i.imgur.com/b6IS9xc.jpg);">
  <div class="contact_title text-center">
    CHECKOUT
  </div>

  <div class="col">
    <div class="contact_form_container indentation">

      <%= render partial: "shared/flash" %>

      <%= form_with model: @current_order, url: {:action => "complete"} do |f| %>
        <div class="form-group">
          <%= f.label :name, "Name:" %>
          <%= f.text_field :name, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :email, "Email:" %>
          <%= f.text_field :email, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :mailing_address, "Mailing Address:" %>
          <%= f.text_field :mailing_address, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :cc_number, "Credit Card Number:" %>
          <%= f.text_field :cc_number, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :cc_exp, "Expiration Date:" %>
          <%= f.date_select(
            :cc_exp, 
            use_two_digit_numbers: true, 
            start_year: Date.today.year, 
            discard_day: true, 
            order: [:month, :day, :year], 
            class: "form-control ") %>
        </div>

        <div class="form-group">
          <%= f.label :cvv, "CVV:" %>
          <%= f.text_field :cvv, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :zipcode, "Billing Zip Code:" %>
          <%= f.text_field :zipcode, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.submit "Complete Order", class: "form_submit_button button trans_200" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
