<h2>Order #<%= @order.id %></h2>

<p>Thank you for your order, <%= @order.name %>!</p>
<p>Date: <%= @order.purchase_date %></p>
<p>Status: <%= @order.status %></p>
<p>Total: <%= number_to_currency(@order.total) %>
<h4>Products</h4>
<table class="table">
  <thead>
    <tr>
      <th>Image</th>
      <th>Title</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Subtotal</th>
    </tr>
  </thead>
  <tbody>
    <% @order.order_items.each do |item| %>
      <tr>
        <td><%= link_to image_tag(item.product.photo_url, height: "150", :alt => "product photo"), product_path(item.product) %></td>
        <td><%= link_to item.product.title, product_path(item.product) %></td>
        <td><%= number_to_currency(item.product.price) %></td>
        <td><%= item.quantity %></td>
        <td><%= number_to_currency(item.subtotal) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
