<% content_for(:headline) { "Order Details"} %>

<h2>Order: <%= link_to @order.id, order_path(@order) %></h2>
<p>Status: <%= @order.status %></p>
<p>Items: <%= @order.order_items.size %></p>
<p>Total Cost: <%= @order.total_cost %></p>
<p>Current merchant: <%= @current_merchant.username %></p>
<section class="order-order_items__container">
  <h3 class="order-order_items__header">Items</h3>
  <table class="table">
    <thead>
      <tr>
        <th>Product Name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Subtotal</th>
      </tr>
    </thead>
    <tbody>
      <!-- expect to call @order.order_items_by_merchant(@current_merchant).each do |order_item| -->
      <% @order.order_items.each do |order_item| %>
        <tr>
          <td><%= link_to order_item.product.name, product_path(order_item.product) %></td>
          <td><%= order_item.quantity %></td>
          <td><%= order_item.product.price %></td>
          <td><%= order_item.subtotal %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>

<%= link_to "See all Orders", orders_path, class: "btn btn-secondary" %>
<%= link_to "Back to Main Menu", root_path, class: "btn btn-primary" %>
