<h2>Order submitted at <%=@order.updated_at%></h2>
<p><%=@order.name%></p>
<p><%=@order.email%></p>
<p><%=@order.address%></p>
<p>Credit card ending in <%=@order.cc_last_four%> was billed for <%=format_price(@order.total_price)%></p>

<%= link_to "Cancel Order", complete_order_path(@order), method: :post, data: {confirm: "Are you sure?"}%>
