<h2>Order submitted at <%=@order.updated_at%></h2>
<p><%=@order.name%></p>
<p><%=@order.email%></p>
<p><%=@order.address%></p>
<p><%=@order.cc_last_four%></p>
<%= link_to "Cancel Order", complete_order_path(@order), method: :post, data: {confirm: "Are you sure?"}%>
