
<h1>User Summary: <%=@merchant.name%></h1>

<%= image_tag @merchant.avatar, alt: @merchant.name, class: "profile-img" %>

<p>Joined site: <%= @merchant.created_at.strftime("%B %e, %Y") %><p>

  <%= link_to "Add Product", new_product_path, :class => "nav-link" %> 
  <%= link_to "Add Category", new_category_path, :class => "nav-link" %> 
  <%= link_to "Order Summary", merchant_orders_path, :class => "nav-link"  %>
<% @products = Product.where(merchant_id: @merchant.id)%>
<% if @products.length > 0 %> 
  <table style="width:70%">  
  <h3><%= "#{@merchant.name}\'s Products"%></h3> 
    <tr>
        <th>Name</th>
        <th>Stock</th>
        <th>Price</th>
        <th>Active</th>
        <th></th>
    </tr>    
    <% @products.each do |product| %>
      <tr>
        <td><%= link_to product.name, product_path(product.id) %></td>
        <td><%= product.stock%></td>
        <td><%= format_price(product.price) %></td>
        <td>
          <% if product.active %> 
            <%= link_to "Active", product_active_path(product.id), method: :patch %>
          <% else %>
            <%= link_to "Retired", product_active_path(product.id), method: :patch%> 
          <% end %>
        </td>
        <td><%= link_to "Edit", edit_product_path(product)%></td>
      </tr>
    <% end %>
  </table>
  <% else %>
  <h2><%= "You don't have any products yet." %></h2>
<% end %>

