<% content_for(:title) { "Merchant id: #{@current_merchant.id}" } %>
<% content_for(:headline) { "Merchant Dashboard"} %>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h4>Stats at a glance</h4>
      <ul>
        <li><span>Username:</span> <%= @current_merchant.username %> </li>
        <li><span>Orders awaiting shipment:</span> </li>
        <li><span>Completed orders:</span> </li>
        <li><span>Number of product listings:</span> </li>
        <li><span>Products out of stock:</span> </li>
        <li><span>Total revenue:</span> </li>
      </ul>
    </div>  
     <div class="col-md-4">

      <%= link_to manage_orders_url do %>
        <div class="merchant-dashboard__action">
        <p>Manage my orders</p>
        </div>
      <% end %>

      <%= link_to manage_products_url do %>
        <div class="merchant-dashboard__action">
        <p>Manage my products</p>
        </div>
      <% end %>

      <%= link_to new_product_path do %>
        <div class="merchant-dashboard__action">
        <p>Create a product</p>
        </div>
      <% end %>

      <%= link_to new_category_path do %>
        <div class="merchant-dashboard__action">
        <p>Create a category</p>
        </div>
      <% end %>
    </div>  
  </div>
</div>