<% content_for(:headline) { "Manage Orders"} %>

<section>
  <h3>Manage Orders</h3>
  <table class="table">
    <thead>
      <tr>
        <th>Order Number</th>
        <th>Order Time</th>
        <th>Items Count</th>
        <th>Total $</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <p> <%= @current_merchant.username %> </p>
    <tbody>
       <% @current_merchant.orders.uniq.each do |order| %>
        <tr>
          <td><%= link_to order.id, orders_path(order) %></td>
          <td><%= order.time_submitted %></td>
          <td><%= order.order_items.count %>
          <td><%= order.total_cost %></td>
          <td><%= order.status %></td>
          <% if order.status == 'paid' %>
            <td><%= button_to "Complete Order", order_complete_path(order) %></td>
          <% end %>
        </tr>
      <% end %> 
    </tbody>
  </table>
</section>