
<table style="width:80%">  
  <h3>Your Orders</h3> 
  
    <%@merchant.order_items.where(status: "shipped").each do |item|%>
      
        <tr> 
          <th>Item</th>
          <th>Order ID</th>
          <th>Name</th>
          <th>CC</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Status</th>
          <th></th>
        </tr>

        <tr class = "middle"> 
            <td><%= link_to(image_tag(product.photo, class: "item_images", id: "small_image"), product_path(product.id)) %></td>
            <td><%= item.order.id %></td>
            <td><%= link_to product.name.titleize, product_path(product.id) %></td>
            <td><%= item.order.cc_last_four %></td>
            <td><%= item.quantity %></td>
            <td><%= format_price(item.product.price)%></td>
            <td><%= item.status%></td>
            <td>
              <%if item.status == "paid"%>
                <%= link_to "Ship Item", ship_path({:id => item.id}), method: :patch%>
              <%end%>
            </td>
          </tr>
        <%end%>
    <%end%>

    <%@merchant.order_items.where(status: "").each do |item|%>
        <tr> 
          <th>Item</th>
          <th>Order ID</th>
          <th>Name</th>
          <th>CC</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Status</th>
          <th></th>
        </tr>

        <tr class = "middle"> 
            <td><%= link_to(image_tag(product.photo, class: "item_images", id: "small_image"), product_path(product.id)) %></td>
            <td><%= item.order.id %></td>
            <td><%= link_to product.name.titleize, product_path(product.id) %></td>
            <td><%= item.order.cc_last_four %></td>
            <td><%= item.quantity %></td>
            <td><%= format_price(item.product.price)%></td>
            <td><%= item.status%></td>
            <td>
              <%if item.status == "paid"%>
                <%= link_to "Ship Item", ship_path({:id => item.id}), method: :patch%>
              <%end%>
            </td>
          </tr>
        <%end%>
    <%end%>

    <%@merchant.order_items.map {|order_item| order_item.status == "paid"}.each do |item|%>
        <tr> 
          <th>Item</th>
          <th>Order ID</th>
          <th>Name</th>
          <th>CC</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Status</th>
          <th></th>
        </tr>

        <tr class = "middle"> 
            <td><%= link_to(image_tag(product.photo, class: "item_images", id: "small_image"), product_path(product.id)) %></td>
            <td><%= item.order.id %></td>
            <td><%= link_to product.name.titleize, product_path(product.id) %></td>
            <td><%= item.order.cc_last_four %></td>
            <td><%= item.quantity %></td>
            <td><%= format_price(item.product.price)%></td>
            <td><%= item.status%></td>
            <td>
              <%if item.status == "paid"%>
                <%= link_to "Ship Item", ship_path({:id => item.id}), method: :patch%>
              <%end%>
            </td>
          </tr>
        <%end%>
    <%end%>
</table>
<div class="revenue">
  <div class="left-label">
    <strong>Total Revenue:</strong>
  </div>
  <div class="right-value">
    <%=format_price(@merchant.calculate_revenue)%>
  </div>
</div>
