
<table style="width:80%">  
  <h3>Your Orders</h3> 
  <tr>
      <th>Item</th>
      <th>Name</th>
      <th>Quantity</th>
      <th>Order ID</th>
      <th>Status</th>
      <th></th>
  </tr>
  <%@merchant.products.each do |product|%>
    <%product.order_items.each do |item|%>
    <%if item.status != "pending"%>
        <tr class = "middle">
          <td><%= link_to(image_tag(product.photo, class: "item_images", id: "small_image"), product_path(product.id)) %></td>
          <td><%= link_to product.name.titleize, product_path(product.id) %></td>
          <td><%= item.quantity %></td>
          <td><%= item.order.id %></td>
          <td><%= item.status%></td>
          <td>
            <%if item.status == "paid"%>
              <%= link_to "Ship Item", ship_path({:id => item.id}), method: :patch%>
            <%end%>
          </td>
        </tr>
        <%end%>
    <%end%>
  <%end%>
</table>
<div class="revenue">
  <div class="left-label">
    <strong>Total Revenue:</strong>
  </div>
  <div class="right-value">
    <%=format_price(@merchant.calculate_revenue)%>
  </div>
</div>
