<% if !@merchant.products.empty? %> 
  <%# <table style="width:70%">   %>
  <h3><%= "#{@merchant.name.titleize}\'s Products"%></h3> 
    <div class = "middle">
    <% @merchant.products.each do |product| %>
      <%if product.active%>
        <div class = "col-xs-6 col-md-4">
          <%= link_to(image_tag(product.photo, class: "show_images"), product_path(product)) %>
          <p><%= link_to product.name.titleize, product_path(product) %></p>
          <p><%= format_price(product.price) %></p>
          <br>
        </div>
      <%end%>
    <% end %>
  <%# TODO: the pagination doesn't work%>
    <div class="pagination">
      <%= will_paginate @merchant_products %>
    </div> 
    </div>
<% else %>
  <h2><%= "#{@merchant.name} does not have any available products in their shop." %></h2>
<% end %>
<br>


<p><%# page_entries_info @merchants %></p> 



