<% if !@merchant.products.empty? %> 
  <table style="width:70%">  
  <h3><%= "#{@merchant.name}\'s Products"%></h3> 
    <tr>
        <th>Name</th>
        <th>Stock</th>
        <th>Price</th>
        <th>Active</th>
        <th></th>
    </tr>    
    <% @merchant.products.each do |product| %>
      <tr>
        <td><%= link_to product.name, product_path(product.id) %></td>
        <td><%= product.stock%></td>
        <td><%= product.price %></td>
      </tr>
    <% end %>
  </table>
  <% else %>
  <h2><%= "#{@merchant.name} does not have any available products in their shop." %></h2>
<% end %>
