<main>
  <h2><%= @merchant.username %>' Dashboard</h2>

  <% if !@merchant.products.empty? %>
  <section class="merchant-products__container">


    <p><strong>Total Revenue: <%= number_to_currency(@merchant.total_revenue) %></strong></p>

    <h3>Total Revenue Breakdown</h3>

    <table class="table">
      <thead>
        <tr>
          <th>Order Status</th>
          <th>Number of Orders</th>
          <th>Total Revenue</th>
        </tr>
      </thead>

      <tbody>

      <% order_statuses = ["paid", "complete", "pending", "cancelled"] %>
      <% order_statuses.each do |status| %>
        <tr>
          <td><%= status %></td>
          <td> <%= @merchant.number_of_orders_for(status) %> </td>
          <td><%= number_to_currency(@merchant.revenue_for(status)) %></td>
        </tr>
      <% end %>

      </tbody>
    </table>


    <h3>Products</h3>

    <table class="table">
      <thead>
        <tr>
          <th>Product Name</th>
          <th>Price</th>
          <th>Active</th>
          <th>Edit</th>
        </tr>
      </thead>

      <tbody>

      <% products = @merchant.products %>
      <% products.each do |product| %>
        <tr>
          <td><%= link_to product.title, product_path(product.id) %></td>
          <td><%= product.price %></td>
          <td><%= product.active == true ? "true" : "false"%></td>
          <td><%= link_to "Edit", edit_product_path(product.id), class: "btn btn-primary" %></td>
        </tr>
      <% end %>

      </tbody>
    </table>

  </section>
  <% else %>
    <h3>There are currently no products to sell. Please add some.</h3>
  <% end %>
  <%= link_to "Add a new product", new_product_path, class: "btn btn-primary" %>
</main>
