<main>
  <h2><%= @merchant.username %>' Dashboard</h2>

  <section class="merchant-products__container">
    <%= link_to "Add product", new_product_path, class: "btn btn-primary" %>

    <h3>Products</h3>

    <table class="table">
      <thead>
        <tr>
          <th>Product Name</th>
          <th>Price</th>
          <th>Active</th>
          <th>Edit</th>
        </tr>
      </thead>

      <tbody>

      <% products = @merchant.products %>

      <% products.each do |product| %>
        <tr>
          <td><%= link_to product.title, product_path(product.id) %></td>
          <td><%= product.price %></td>
          <td><%= product.active == true ? "true" : "false"%></td>
          <td><%= link_to "Edit", edit_product_path(product.id), class: "btn btn-primary" %></td>
        </tr>
      <% end %>

      </tbody>
    </table>

  </section>
</main>
