<% if @category.errors.any? %>
  <ul class="errors">
    <% @category.errors.each do |column, message| %>
      <li>
        <span><%= column.capitalize %></span>: <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>
  <%= form_with model: @category, class: 'product-form' do |f| %>
    <div class='form-group'>
      <%= f.label :name %>
      <%= f.text_field :name, :class => "form-control" %>
    </div>
    <%= f.submit "Add Category", class: "btn btn-primary" %>
  <% end %>
</section>