<h3 class="middle">Product | <%= @category.name.titleize %></h3>
<br>

<div class = "middle">
  <% if @category_products.length > 0%>
    <% @category_products.each do |product|%>
      <%if product.active%>
        <div class = "col-xs-6 col-md-4">
          <img class = "show_images", src="<%= product.photo %>", alt="<%=product.name %>">
          <p><small><%= link_to product.name.titleize, product_path(product) %></small></p>
          <small><%= format_price(product.price) %></small>
          <br>
          <br>
        </div>
      <% end %>
    <% end %>
    <br>
    <%# <p><%= page_entries_info @category_products %></p>

    <div class="pagination">
      <%= will_paginate @category_products %>
    </div>  
  <%else%>
    <p>There is no product for this category</p>
  <% end%>
</div>

