<div class="home">
  <div class="home_background" style="background: url(https://i.imgur.com/HCWU4MU.jpg); background-size: 100%;"></div>
  <div class="home_content">
    <div class="home_title">
      Products
    </div>
  </div>
</div>

<% if @merchant %>
  <h2 class="category-names">Products by <%= @merchant.username %></h2>
<% elsif @category %>
  <h2 class="category-names"><%= @category.title %>s</h2>
<% else %>
  <h2 class="category-names">All Products</h2>
<% end %>


<% if @products %>
  <div class="table-indentation">
    <table class="table table-borderless">

      <tbody>
        <% @products.each do |product| %>
          <% if product.active %>
            <tr>
              <td><%= link_to image_tag(product.photo_url, height: "250", width: "300", :alt => "product photo"), product_path(product) %></td>
              <td><h2><%= link_to product.title, product_path(product), class: "item-names" %></h2></td>
              <td><h2 class="item-names"><%= number_to_currency(product.price)%></h2></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>

    </table>
  </div>
<% else %>
  <h3>There are currently no products over here</h3>
<% end %>
