<h2 class = "middle"> All Products </h2>
<br>
<div class = "middle">
  <% @products.each do |product| %>
    <%if product.active%>
      <div class = "col-xs-6 col-md-4">
        <img class = "show_images", src="<%= product.photo %>", alt="<%=product.name %>">
        <p><small><%= link_to product.name.titleize, product_path(product) %></small></p>
        <small><%= format_price(product.price) %></small>
        <br>
        <br>
      </div>
    <% end %>
  <% end %>
  <br>
  <br>
  <div>
    <%# <p><%= page_entries_info @product %></p> 

    <div class="pagination">
      <%= will_paginate @products %>
    </div>
  </div>
</div>


