<!DOCTYPE html>
<html>
  <head>
    <title>Betsy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <header>
    <h1>Welcome to Cop & Hope</h1>
  </header>

  <nav>
    <% if session[:merchant_id] %>
      <%= link_to "Log out", logout_path, method: :put %>
      <%= link_to "My Account", account_path(id: session[:merchant_id]) %>
    <% else %>
      <%= link_to "Login with Github", github_login_path %>
    <% end %>
  </nav>

  <body>
    <section class="flash-msg__section">
      <% flash.each do |name, message| %>
        <strong class="<%= name %>">
          <%= message %>
        </strong>
      <% end %>
    </section>

    <%= yield %>
  </body>
</html>
