<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Agasalho - bEtsy" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="<%=controller_name%> <%=action_name%>">
    <header>  
      <%= render 'layouts/header' %>
      <% if content_for?(:headline) %>
      <h2 class="headline"><%= yield(:headline) %></h2>
    <% end %>
    </header>
    
    <%= render 'layouts/alert' %>

    <main>
    <%= yield %>
    </main>

    <% if action_name == "landing"%>
    <footer class="footer">
      <div class="container">
        <%= link_to raw("Meet the team &#10084;"), team_path %>
      </div>
    </footer>
    <% end %>
  </body>
</html>

