<!DOCTYPE html>
<html>
  <head>
    <title>Betsy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  </head>

  <header>
  </header>
  <nav>
    <ul class = "nav">
      <li ><%= link_to "Home", root_path, :class => "glyphicon glyphicon-home" %></li>
      <li><a href="#">Products</a>
        <ul>
          <li><%= link_to "All Product", products_path %></li>
          <% if Category.all.length >0 %>
            <% Category.all.each do |category| %>
            <li>
              <%= link_to category.name, category_path(category) %>
            <% end %>
            </li>
          <% end %>
          </li>
        </ul>
      </li>
      <li><%= link_to "Merchants", merchants_path %></li>
      <li><%= link_to "", root_path, :class=>"fa fa-envelope" %></li>
      <li><%= link_to "", root_path, :class => "fa fa-search" %></li>
       
      
      <% if session[:merchant_id] %>
        <ul>
          <li><%= link_to "Log out", logout_path, method: :put %></li>
          <li><%= link_to "Account Summary", account_path(id: session[:merchant_id]) %></li>
        </ul> 
        <% else %>
        <li class = "push"><%= link_to "Login with Github", github_login_path %> </li>
      <% end %>
      <li class = "push"><%= link_to "", cart_path, :class => "fa fa-shopping-cart" %></li>
    </ul>
  </nav>

  <body>
    <section>
      <section class="flash-msg__section">
        <% flash.each do |name, message| %>
          <strong class="<%= name %>">
            <%= message %>
          </strong>
        <% end %>
      </section>

      <%= yield %>
    </section>
    </body>
  <footer>
    <p><strong>Copyright Ada C13 2020</strong></p>
  </footer>
</html>
