<!DOCTYPE html>
<html>
  <head>
    <title>Betsy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <!-- flash messages container -->
  <% flash.each do |name, message| %>
    <div class="alert alert-<%= name %>" role="alert">
      <%= message.html_safe %>
    </div>
  <% end %>

    <%= render 'layouts/header' unless action_name == "landing" %>
    <%= yield %>
  </body>
</html>

