<!DOCTYPE html>
<html>
  <head>
    <title>Betsy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  </head>

  <header>
  </header>

  <nav>
    <div class="container">
      <ul class="nav">
        <li><%= link_to "Home", root_path, class: "nav-item" %>
        </li>

        <li class="nav-item dropdown">
          <a data-toggle="dropdown"  class="nav-link dropdown-toggle" href="/products" role="button" aria-haspopup="true" aria-expanded="false">Products
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a>
              <%= link_to "All Products", products_path, class: "dropdown-item" %>
            </a>
            <% if Category.all.length > 0 %>
              <% Category.all.sort_by{|category| category.name.downcase}.each do |category| %>
              <a>
                <%= link_to category.name.titleize , category_path(category), class: "dropdown-item" %>
              </a>
              <% end %>
            <% end %>
          </div>
        </li>

        <li><%= link_to "Merchants", merchants_path, class: "nav-item" %>
        </li>

        <li><%= link_to "EMAIL", root_path, class: "nav-item" %>
        </li>
        <li><%= link_to "SEARCH", root_path, class: "nav-item" %>
        </li>
        <li><%= link_to "Cart", cart_path, class: "nav-item" %>
        </li>

        <% if session[:merchant_id] %>
          <li class="nav-item dropdown">
            <a data-toggle="dropdown"  class="nav-link dropdown-toggle" href="/products" role="button" aria-haspopup="true" aria-expanded="false">My Account
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a>
                <%= link_to "Log out", logout_path, class: "dropdown-item", method: :put %>
              </a>
              <a>
                <%= link_to "Account Summary", account_path(session[:merchant_id]), class: "dropdown-item" %>
              </a>
            </div>
          </li>
        <% else %>
          <li><%= link_to "Login with Github", github_login_path, class: "nav-item" %></li>
        <% end %>
      </ul>
    </div>
  </nav>

  <body>
    <section>
      <section class="flash-msg__section">
        <% flash.each do |name, message| %>
          <strong class="<%= name %>">
            <%= message %>
          </strong>
        <% end %>
      </section>

      <%= yield %>
    </section>
    </body>
  <footer>
    <p><strong>Copyright Ada C13 2020</strong></p>
  </footer>
</html>
