<!DOCTYPE html>
<html>
  <head>
    <title>Betsy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!-- Header -->

    <header class="header">

      <!-- Top Bar -->

      <div class="top_bar">
        <div class="container">
          <div class="row">
            <div class="col d-flex flex-row">
              <div class="phone">+0 555 MAGIC</div>
              <div class="user_box ml-auto">
                
                <% if @login_user %>
                  <div class="user_box_link user_box_login">
                    <%= link_to "Merchant Dashboard: #{@login_user.username}", merchant_path(@login_user) %>
                  </div>

                  <div class="user_box_link user_box_login">
                    <%= link_to "Log Out", logout_path, method: :post %>
                  </div>
                
                <% else %>
                  <div class="user_box_link user_box_login">
                    <%= link_to "Log In", github_login_path %>
                  </div>
                <% end %>

                <div class="user_box_link">
                  <%= link_to cart_path do %> 
                    <%= image_tag("https://i.imgur.com/lvFdy3t.png", size: "20x20", alt: "shopping cart") %>
                    
                    <% if session[:order_id] %>
                      <span class="badge badge-primary badge-pill"><%= @current_order.order_items.count %></span>
                    <% end %>
                  <% end %>  
                </div>
              </div> 
            </div> 
          </div>
        </div>		
      </div>

      <!-- Main Navigation -->

      <nav class="main_nav">
        <div class="container">
          <div class="row">
            <div class="col main_nav_col d-flex flex-row align-items-center justify-content-start">
              
              <div class="logo_container">
                <div class="logo">
                  <%= link_to "Spellbound", root_path %>
                </div>
              </div>

              <div class="main_nav_container ml-auto">
                <ul class="main_nav_list">

                  <li class="main_nav_item">
                    <%= link_to "Products by Category", "#", { "class": "nav-link dropdown-toggle", "role": "button", "id": "dropdownMenuLink", "data-toggle": "dropdown", "aria-haspopup": "true", "aria-expanded": "false"} %>
                    <div class="main_nav_dropdown dropdown-menu">
                      <%= link_to "All Products", products_path, class: "nav-link"%>
                      <%Category.all.each do |cat|%>
                        <%= link_to cat.title.pluralize, category_products_path(cat.id), class: "dropdown-item" %>
                      <%end%>
                    </div>
                  </li>

                  <li class="main_nav_item">
                    <%= link_to "Products by Merchant", "#", { "class": "nav-link dropdown-toggle", "role": "button", "id": "dropdownMenuLink", "data-toggle": "dropdown", "aria-haspopup": "true", "aria-expanded": "false"}%>
                    <div class="main_nav_dropdown dropdown-menu">
                      <%Merchant.all.each do |merchant|%>
                        <%= link_to merchant.username, merchant_products_path(merchant.id), class: "dropdown-item" %>
                      <%end%>
                    </div>
                  </li>

                  <li class="main_nav_item"><%= link_to "All Merchants", merchants_path, class: "nav-link"%></li>
                </ul>
              </div>

              <div class="hamburger"> <!-- for mobile view -->
                <i class="fa fa-bars trans_200"></i>
              </div>
            </div>
          </div>
        </div>	
      </nav>

    </header>
    
    <% if flash[:result_text] or flash[:messages] %>
      <section class="alert__container">
        <div class="alert alert-<%= flash[:status].to_s == 'failure' ? 'warning' : flash[:status] %>">
          <span><%= flash[:status].to_s == "failure" ? "A problem occurred: " : "" %><%= flash[:result_text] %></span>
          <% if flash[:messages] %>
            <ul>
              <% flash[:messages].each do |name, problems| %>
                <% problems.each do |problem| %>
                  <li><%= name %>: <%= problem %></li>
                <% end %>
              <% end %>
            </ul>
          <% end %>
        </div>
      </section>
    <% end %>

    <section>
      <%= yield %>
    </section>

    <!-- Footer -->
    <footer class="footer">
		<div class="container">
			<div class="row">

				<!-- Footer Column -->
				<div class="col-lg-3 footer_column">
					<div class="footer_col">
						<div class="footer_content footer_about">
							<div class="logo_container footer_logo">
                <div class="logo">
                  <%= link_to "Spellbound", root_path %>
                </div>
							</div>
							<p class="footer_about_text">This is a team project for Ada Developers Academy, not a real e-commerce store. Please don't give us your credit card info! Unless you want to. >:} </p>
						</div>
					</div>
				</div>

        <!-- Footer Column: Support -->
        <div class="col-lg-3 footer_column">
					<div class="footer_col">
						<div class="footer_title">support</div>
						<div class="footer_content footer_support">
							<ul class="support_list clearfix">
								<li class="support_item"><%= link_to "Order Status", orders_search_new_path, class: "nav-link"%></li>
							</ul>
						</div>
					</div>
				</div>

				<!-- Footer Column: Contact -->
				<div class="col-lg-3 footer_column">
					<div class="footer_col">
						<div class="footer_title">contact info</div>
						<div class="footer_content footer_contact">
							<ul class="contact_info_list">
								<li class="contact_info_item d-flex flex-row">
									<div><div class="contact_info_icon"><%= image_tag("https://technext.github.io/travelix/images/placeholder.svg", alt: "address") %></div></div>
									<div class="contact_info_text">12345 Magic Way</div>
								</li>
								<li class="contact_info_item d-flex flex-row">
									<div><div class="contact_info_icon"><%= image_tag("https://technext.github.io/travelix/images/phone-call.svg", alt: "phone") %></div></div>
									<div class="contact_info_text">+0 555 MAGIC</div>
								</li>
								<li class="contact_info_item d-flex flex-row">
									<div><div class="contact_info_icon"><%= image_tag("https://technext.github.io/travelix/images/message.svg", alt: "email") %></div></div>
									<div class="contact_info_text">magic@fakeemail.com</div>
								</li>
							</ul>
						</div>
					</div>
				</div>

			</div>
		</div>
	</footer>
  </body>
</html>
